* {
  font-family: "Poppins", sans-serif;
}
.wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  position: relative;
  overflow: hidden;
}
.wrapper .header {
  color: black;
  text-align: center;
  margin-bottom: 10px;
}

.bg-image {
  width: 50%;
  position: relative;
  z-index: 0;
}

.bg-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Login {
  flex: 1;
  height: 90vh;
  background-color: white;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0 50px 50px 0;
  position: relative;
  z-index: 1;
  margin-right: -50px;
  box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
}

form label {
  margin-top: 10px;

  color: #9794aa;
}

form input {
  padding: 10px;
  margin-top: 5px;
  border-radius: 6px;
  border: 1px solid #cbcad7;
  width: 100%;
  color: #686677;
  box-sizing: border-box;
}

.Login p {
  margin: auto;
}
button {
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 12px;
  background-color: #6938ef;
  border: none;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: black;
}
.background-image {
  width: 45%;
}
.background-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.error {
  color: red;
}
.password-input-with-bg {
  background-image: url("../Public/eye-disable.png");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 20px 20px;
  box-sizing: border-box;
  cursor: pointer;

  padding-right: 40px;
}

.image-box {
  flex: 1;
  overflow: hidden;
}

.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.Login p {
  color: #686677;
}
.Login a {
  color: #6938ef;
}
.Login a:hover {
  color: black;
}

@media (max-width: 1024px) {
  .bg-image {
    display: none;
  }

  .Login {
    width: 100%;
    margin-right: 0;
    border-radius: 0;
    height: 100vh;
    box-shadow: none;
  }

  .Login {
    padding: 20px;
  }

  form input {
    padding: 12px;
  }
}
@media (min-width: 1900px) {
  .Login {
    height: 100vh;
  }

  .bg-image {
    width: calc(100% - 700px);
  }
}
